
<div class="container" id="product-section">
  <div class="row">
    <div class="col-md-6">
      <img class="image-responsive" *ngIf="product?.thumbnail?.path" [src]="serverUrl+'/'+product.thumbnail.path" class="card-img-top">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h1>{{product?.title | titlecase}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="label label-primary">Vintage</span>
          <span class="monospaced">No. 1960140180</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="description">
            {{product?.description}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="sr-only">Four out of Five Stars</span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="label label-success">61</span>
        </div>
      </div>




      <div class="row">
        <div class="col-md-12 bottom-rule">
          <h2 class="product-price">{{product?.price  | currency:'INR':true}}</h2>
        </div>
      </div>

      <div class="row add-to-cart">
        <div class="col-md-5 product-qty">
          <span class="btn btn-default btn-lg btn-qty">
            <span class="glyphicon glyphicon-plus" (click)="quantityChange('+')" aria-hidden="true"></span>
          </span>
          <input type="number" class="btn btn-default btn-lg btn-qty" [(ngModel)]="quantity" name="quantity" value="1" />
          <span class="btn btn-default btn-lg btn-qty">
            <span class="glyphicon glyphicon-minus" (click)="quantityChange('-')" aria-hidden="true"></span>
          </span>
        </div>
        <div class="col-md-4">
          <button (click)="addToCart()" class="btn btn-lg btn-brand btn-full-width">
            Add to Cart
          </button>
        </div>
      </div>
      <!-- end row -->

      <!-- <div class="row">
        <div class="col-md-4 text-center">
          <span class="monospaced">In Stock</span>
        </div>
        <div class="col-md-4 col-md-offset-1 text-center">
          <a class="monospaced" href="#">Add to Shopping List</a>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 bottom-rule top-10"></div>
      </div>


      <div class="row">
        <div class="col-md-4 text-center">
          <span class="monospaced">In Stock</span>
        </div>
        <div class="col-md-4 col-md-offset-1 text-center">
          <a class="monospaced" href="#">Add to Shopping List</a>
        </div>
      </div>
      <!-- end row -->




      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
        </li>
        <li role="presentation">
          <a href="#features" aria-controls="features" role="tab" data-toggle="tab">Features</a>
        </li>
        <li role="presentation">
          <a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a>
        </li>
        <li role="presentation">
          <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a>
        </li>
      </ul>


      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="description">
            <p class="top-10">
                {{product?.description}}
              </p>
              <p>
                <small>
                  (source
                  <a href="http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B">http://camerapedia.wikia.com/wiki/Kodak_Brownie_Flash_B</a>)
                </small>
              </p>
        </div>
        <div role="tabpanel" class="tab-pane top-10" id="features">
          ...Features
        </div>
        <div role="tabpanel" class="tab-pane" id="notes">
          ...Notes
        </div>
        <div role="tabpanel" class="tab-pane" id="reviews">
          ...Reviews
        </div>
      </div>
    </div>
  </div>