<!-- <div class="hero-image">
    <div class="hero-text">
        <h1>CakeplusGift</h1>
        <p>Get ready for party</p>
    </div>
</div> -->
<div *ngIf="Images">
    <owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let img of Images">
            <div style="align-content: center">
                <img style="height: 260px;width:100%"  src="{{serverUrl}}/{{img}}"/>
            </div>
        </div>
    </owl-carousel>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img [routerLink]="['/home/',product._id]" (click)="productDetails(product)" *ngIf="product?.thumbnail?.path" [src]="serverUrl+'/'+product.thumbnail.path" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.price | currency:'INR':true}}</p>
                    <button class="btn card-text" (click)="addToCart(product)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>